<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="../../public/favicon-32x32.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Loopstudios</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		max-width: 1440px;
		justify-self: center;
		height: 100dvh;
		overflow-x: hidden;
		position: relative;
	}
</style>
